body{
  background: radial-gradient(#37474F, #263238);
  
}
.container{
	padding-right: 0;
	padding-left: 0;
}
.navbar{
  background-color: #FFAB00;
  border: none;
  border-radius: 0px;
}
.counters {
  font-size: 20px;
  
}
.counters:first-child{
  margin-left:150px;
}
.board{
#	box-shadow: 0 0 10px 2px #CECECE;
}
.board.win{
	box-shadow: 0 0 10px 2px #669900;
}
.board.loss{
	box-shadow: 0 0 10px 2px #CC0000;
}
.board.easy{
	margin: 12% 33%;
	width: 217px;
	height: 217px;
}
.board.medium{
	margin: 2% 23%;
  width: 385px;
	height: 385px;
}
.board.hard{
	margin: 1% 2%;
	width: 720px;
	height: 383px;
}
.r{
	clear: both;
}
.c{
#  background-color: #64B5F6;
	height: 20px;
	width: 20px;
	border-radius: 1px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-family: Consolas;
	font-weight: bold;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: radial-gradient(circle, #90CAF9, #64B5F6);
	margin: 2px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1);
	
}
.c.open{
	background: #FFF;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .75) inset;
}
.doom{
	padding-top: 3px;
}
.mine{
	background: #FFAB00;
	padding-top: 3px;
}
.c.one{
	color: #1A237E;
}
.c.two{
	color: #669900;
}
.c.three{
	color: #CC0000;
}
.c.four{
	color: #9933CC;
}
.c.five{
	color: #FF8800;
}
.c.six{
	color: #000080;
}
.c.seven{
	color: #800000;
}
.c.eight{
	color: #000000;
}
.digital{
	font-family: Consolas;
	font-size: 22px;
}